/* General styling for OBS overlay */
body {
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    color: #EFEFEF; /* Off-white text */
    font-family: 'Swiss 721 Bold Extended BT', 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbars */
}

/* Container for the input history */
#input-container {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 300px;
    display: flex;
    flex-direction: column; /* Display newest on top, pushing down */
    align-items: flex-start;
    gap: 0px;
}

/* Styling for each input item */
.input-item {
    animation: fadeIn 0.15s ease-in-out;/* Apply the fade-in animation */
    width: 100%; /* Take up full width */
    display: flex;
    align-items: center; /* Changed from baseline to center */
    padding: 4px;
    gap: 0px /* Add space between frame counter and input groups */
}

.input-glyph {
    flex: none; /* Don't grow/shrink */
    background-color: rgba(0, 0, 0, 1.0);
    border-radius: 50%; /* Make it a circle */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.frame-count {
    margin-right: 8px;
    min-width: 50px;
    text-align: right;
    font-size: 0.7em; /* Adjust font size for better alignment */
    color: #EFEFEF; /* Ensure visibility */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px 6px;
    border-radius: 4px;
}

.input-item svg {
    width: 38px;
    height: 38px;
    fill: #EFEFEF;    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Special case for dash chevrons to make them look good in a circle */
.input-glyph svg[viewBox="0 0 32 32"] {
    width: 38px;
    height: 38px
}

/* Status message for when no gamepad is connected */
#status {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

/* Animation for input items */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to { /* Stay fully visible */
        opacity: 1;
        transform: translateX(0);
    }
}

.input-separator {
    display: none;
}



@font-face {
    font-family: 'Swiss 721 Bold Extended BT';
    src: url('https://raw.githubusercontent.com/chrisdejoya/Trailpad/main/fonts/Swiss%20721%20Bold%20Extended%20BT%20V2.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}